.layout {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header {
  background-color: #f2f2f2;
}

.headerContainer {
  display: flex;
  justify-content: left;
  align-items: center;
}

.headerTitleContainer {
  display: flex;
  align-items: center;
  margin-left: 14px;
  text-decoration: none;
}

.headerTitle {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  display: flex;
  align-items: flex-end;
  color: #242424;
}

.headerIcon {
  height: 32px;
  width: auto;
  margin-left: 36px;
}

.uploadButtonRoot {
  width: 86px;
  height: 32px;
  border-radius: 4px;
  background: radial-gradient(109.81% 107.82% at 100.1% 90.19%, #0f6cbd 33.63%, #2d87c3 70.31%, #8dddd8 100%);
  padding: 5px 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.uploadButtonRoot:hover {
  background: linear-gradient(135deg, #0f6cbd 0%, #2d87c3 51.04%, #8dddd8 100%);
}

.uploadButtonRoot span {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
}

.uploadButtonRoot i,
.uploadButtonRoot:hover i {
  color: #ffffff !important;
}


.shareButtonContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-right: 20px;
}

.shareButton {
  color: #ffffff;
}

.shareButtonText {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #ffffff;
}

.urlTextBox {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #707070;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
}

.copyButtonContainer {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px 12px;
  gap: 4px;
  background: #ffffff;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
}

.copyButtonContainer:hover {
  cursor: pointer;
  background: #d1d1d1;
}

.copyButton {
  color: #424242;
}

.copyButtonText {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #242424;
}

@media (max-width: 480px) {
  .headerTitleContainer {
    margin-left: 4px;
  }

  .headerIcon {
    margin-left: 26px;
  }
}
